name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest

    container:
      image: golang:1.24

    steps:
    - uses: actions/checkout@v4

    - name: Install APT packages
      run: |
        apt-get update
        apt-get install -y --no-install-recommends libopus-dev=1.3.1-3 libopusfile-dev=0.12-4
    
    - name: Test
      run: go test -v -shuffle=on -cover -race ./...
  
